/* O foco dessa atividade será reposicionar os elementos da nossa página!

1. Defina o elemento .page-wrapper como referência para posicionamento.

2. Faça com que o painel .explanation ocupe 60% da largura disponível, mas crie um

espaçamento a direita de 35% utilizando margin .

- Adicione uma borda à direita do painel de 1px, com a cor #1f295c

- Adicione um espaçamento interno de 2% no lado direito do painel.

3. Agora mova o menu de designs para a direita da página, ocupando o espaço em branco

deixado pelo elemento .explanation .

- Faça-o iniciar na parte superior da página, após a parte de introdução (por exemplo,

aplicando top: 560px ).

- Faça-o iniciar após o elemento .explanation (por exemplo, aplicando left: 62% ).

- Adicione um espaçamento interno horizontal de 2% no menu para centralizá-lo.

Envie nessa atividade com o link do projeto no GitHub.*/

.page-wrapper{
    position: relative;
}
.explanation {
width: 60%;
margin-right: 35%;
border-right: 1px #1f295c solid;
padding-right: 2%;

}

#design-selection {
    position: absolute;
    top:560px;
    left: 62%;
    padding-left: 1%;
    padding-right: 1%;
}

.main footer{

    margin: 4%;

}

.main footer a{

    border: solid 2px #2318F0;
    padding: 0.5em;
    display: inline-block;
}


aside ul{ 
    list-style-type: none; 
}

aside ul li{

    margin: 1em;
    text-align: center;
}
.page-wrapper{ width: 80%;
max-width: 1280px;
margin: auto;
}
#zen-intro{height: 550px}

#design-archives{
    display: none;
}

#zen-intro header{
     background-color: #2318F0;
    color: #FAF4A1 ;

}
#zen-intro h1, #zen-intro h2 {

    display: inline-block;
}

#zen-intro h1{
    margin-left: 1em;
    margin-right: 1em ;
}
html {
    background-color: #FAF4A1;
    color: #2318F0;
    color-scheme: #1C1C1D ;
    border-color: #1C1C1D;
    font-size: 18 px;
    font-family: Helvetica ,sans-serif;
}

p {text-indent: 1em;}

h1, h2, h3 {text-align: center;}
h1 {font-size: 1.8rem;}
h2{ font-size: 1.4rem;}
h3 {font-size: 1.2rem;}
.summary {text-align: center;}
.main p {line-height: 1.5;}
abbr{font-variant: small-caps;}