/* Na atividade deste capítulo iremos aprimorar o layout de nossa página utilizando o flexbox.

1. Aplique o flexbox no rodapé da seção principal, e posicione os links de
 forma que fiquem centralizados e com espaçamento entre eles.

- Defina um mesmo tamanho para os links.
- Não se esqueça de tratar o caso de quebra de linha.

2. Configure um layout de flexbox para a seção de benefícios da seguinte forma:

- O texto deve ficar à esquerda, e o título à direita.

- O título deve ficar centralizado verticalmente.

- O texto deve ocupar aproximadamente 70% da largura, e o título 30%.

3. Configure um layout de flexbox para a seção de participação da seguinte forma:

- Cada item deve ocupar 50% do espaço disponível.

- O título deverá ficar centralizado verticalmente.

4. Inclua uma linha no topo e embaixo das seções de benefícios e participação, utilizando a

propriedade border-bottom e border-top respectivamente.

- Remova a ocorrência de borda duplicada entre as duas seções

Envie nessa atividade com o link do projeto no GitHub.*/
.benefits {

    display: flex;
    border-top: #1f295c solid 1px;
    border-bottom: #1f295c solid 1px;
}
.benefits h3 {
    order: 2;
    align-self: center;
    flex-basis: 30%;
}
.benefits p {
    flex-basis: 70%;
}
    
.participation {
    display: flex;
    flex-wrap: wrap;
    border-top: #1f295c solid 1px;
}
.participation h3, .participation p {
    flex-basis: 50%;
}
.participation h3 {
    align-self: center;
}
.supporting footer {
    display: flex;
    justify-content: space-evenly;
}

.page-wrapper{
    position: relative;
}
.explanation {
width: 60%;
margin-right: 35%;
border-right: 1px #1f295c solid;
padding-right: 2%;

}

#design-selection {
    position: absolute;
    top: 520px;px;
    left: 62%;
    padding-left: 1%;
    padding-right: 1%;
}

.main footer{

    margin: 4%;

}

.main footer a{

    border: solid 2px #1f295c;
    padding: 0.5em;
    display: inline-block;
}


aside ul{ 
    list-style-type: none; 
}

aside ul li{

    margin: 1em;
    text-align: center;
}
.page-wrapper{ width: 80%;
max-width: 1280px;
margin: auto;
}
#zen-intro{height: 550px}

#design-archives{
    display: none;
}

#zen-intro header{
     background-color: #130f69;
    color: #FAF4A1 ;

}
#zen-intro h1, #zen-intro h2 {

    display: inline-block;
}

#zen-intro h1{
    margin-left: 1em;
    margin-right: 1em ;
}
html {
    background-color: #FAF4A1;
    color:#1f295c ;
    color-scheme: #1C1C1D ;
    border-color: #1C1C1D;
    font-size: 18 px;
    font-family: Helvetica ,sans-serif;
}

p {text-indent: 1em;}

h1, h2, h3 {text-align: center;}
h1 {font-size: 1.8rem;}
h2{ font-size: 1.4rem;}
h3 {font-size: 1.2rem;}
.summary {text-align: center;}
.main p {line-height: 1.5;}
abbr{font-variant: small-caps;}